@keyframes notiChatAnim{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}

@keyframes navBarAnim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 40px;
    box-sizing: border-box; /*padding 으로 인해 객체의 크기가 증가한 것을 상쇄한다.*/
    border-top: 1px solid rgba(0,0,0,0.2);
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    position: relative;
    color: #2e363e;
}

.nav__noti_chat{
    position: absolute; /* 부모들 중, relative를 가진 가장 가까운 부모 기준으로 위치 설정 */
    left: 20px;
    bottom: 20px;
    animation: notiChatAnim 2s ease-in-out;
}

.nav__btn{
    animation: navBarAnim 0.3s ease-in-out forwards;
    transform: translateY(50px);
    opacity: 0;
}

.nav__btn:nth-child(2){
    animation-delay: 0.2s;
}

.nav__btn:nth-child(3){
    animation-delay: 0.5s;
}

.nav__btn:last-child{
    animation-delay: 0.8s;
}